spring:
  application:
    name: EUREKA-HA

#禁止自己注册自己
eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
---
server:
  port: 1111
spring:
  # 指定profile=peer1
  profiles: peer1
eureka:
  instance:
    # 指定当profile=peer1时，主机名是peer1
    hostname: peer1
  client:
    service-url:
      # 将自己注册到peer2、peer3这个Eureka上面去
      defaultZone: http://peer2:1111/eureka/
---
server:
  port: 1112
spring:
  profiles: peer2
eureka:
  instance:
    hostname: peer2
  client:
    service-url:
      defaultZone: http://peer1:1111/eureka/

